<!DOCTYPE html>
<html>
<head>
  <title>Baywalk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAICQkACMjIwAfJSQAKSkpACUjIwAkJCQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmZmZmFWZQBmYmJiYlYmAGZmZmZmZiMAZiAAAAACVgBmJmZmZmZlAGZmJmZmZmYAZmZmZmZiIAAAAAAAAAJGACZmZmZmYmYAZmZkZkZjZgAxZhERERMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAIABAACAAQAAgAEAAI/xAACAAQAAgAEAAIADAAD/8QAAgAEAAIABAACAAwAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="">
          <%= yield %>
     </div>

</body>
</html>
